@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold_1.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light_1.ttf") format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-LightItalic_1.ttf") format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.ttf") format('truetype');
  font-weight: medium;
  font-style: normal;
}
@font-face{
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}
body{
  margin: 0;
  font-size: 16px;
  line-height: 1.42;
  color: #262424;
}

* {
  box-sizing: border-box;
}



ul{
  margin:0;
  padding: 0;
}

ul li{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

.wrapper{
  overflow: hidden;
  min-width: 1060px;
  display: flex;
  flex-direction: column;
  height: 100%;
  }

.wrapper__content{
  flex:1;
}

.container{
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.header{
  background-color: #5972b1;
  color: #fff;
  margin-bottom: 45px;
}

.header__container{
  height: 76px;
  position: relative;
}

.logo{
  display: block;
  max-width: 100%;
  position: absolute;
  top: 20px;
}

.contacts{
  position: absolute;
  top:13px;
  right: 0px;
  text-align: right;
  font-weight: bold;
}

.contacts__phone, .contacts__workhours{
  color: inherit;
  text-decoration: none;
  font-size: 21px;
}

.contacts__workhours{
  font-size: 14px;
}

.sidebar, .content__text{
  display: inline-block;
  vertical-align: top;
}

.sidebar{
  width: 178px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 24px; 
}

.menu__link{
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #5973b1;
  letter-spacing: 2.2px;
  font-size: 12px;
}

.menu__link::before{
  content: "";
  width: 24px;
  height: 18px;
  margin-right: 12px;
  background: left center /contain no-repeat;
  display:inline-block;
}

.menu__item--icon--main .menu__link::before{
  background-image: url(./img/main_icon.png);
}

.menu__item--icon--main .menu__link:hover::before{
  background-image: url(./img/main_icon_hover.png);
}


.menu__item--icon--feed .menu__link::before{
  background-image: url(./img/feed_icon.png);
}

.menu__item--icon--feed .menu__link:hover::before{
  background-image: url(./img/feed_icon_hover.png);
}


.menu__item--icon--team .menu__link::before{
  background-image: url(./img/team_icon.png);
}

.menu__item--icon--team .menu__link:hover::before{
  background-image: url(./img/team_icon_hover.png);
}

.menu__item--active.menu__item--icon--main .menu__link:before{
  background-image: url(./img/main_icon_hover.png);
}

.menu__item--active.menu__item--icon--feed .menu__link:before{
  background-image: url(./img/feed_icon_hover.png);
}

.menu__item--active.menu__item--icon--team .menu__link:before{
  background-image: url(./img/team_icon_hover.png);
}

.menu__item--active .menu__link{
  color: #262424;
}

.menu__link:hover{
  color:#262424;
}

.content__text{
  width: 880px;
}

.banner{
  position: relative;
  height: 269px;
}
.banner__cover{
  display: block;
  position: absolute;
  top: -33px;
}


.tariffs__list{
  display: flex;
  margin-bottom: 29px;
}

.tariffs__item{
  flex: 0 1 251px;
  border: 1px dotted white;
  text-align: center;
  font-size: 18px;
  margin-right: 20px;
  padding: 24px;
  line-height: 30px;

}

.tariffs_h1{
  font-size: 49px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 18px;
}

.tariffs__info p{
  margin:0;
  margin-bottom: 6px;
}
.tariffs__header{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 2.4px;
  margin: 0;
  margin-bottom: 9px;
}

.tariffs__prise {
  font-size: 50px;
  font-family: "Roboto";
  padding: 33px;
}

.tariffs__item:hover{
  border: 1px #e8e8ec dotted;
  border-radius: 2%;
}

.tariffs__item li{
  display: list-item;
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  margin-bottom: 4px;
}

.tariffs__item::before{
  content: "";
  width: 68px;
  height: 68px;
  background: #5973b1 center center no-repeat;
  display: inline-block;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 14px;
}

.tariffs__item:nth-child(1).tariffs__item::before{
  background-image: url(./img/flower_hover.png);
}

.tariffs__item:nth-child(1).tariffs__item:hover::before{
  background-image: url(./img/flower.png);
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

.tariffs__item:nth-child(2).tariffs__item::before{
  background-image: url(./img/mark-as-favorite-star.png);
}

.tariffs__item:nth-child(2).tariffs__item:hover::before{
  background-image: url(./img/mark-as-favorite-star_hover.png);
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

.tariffs__item:nth-child(3).tariffs__item::before{
  background-image: url(./img/painter-palette.png);
}

.tariffs__item:nth-child(3).tariffs__item:hover::before{
  background-image: url(./img/painter-palette_hover.png);
   width: 72px;
  height: 72px;
  margin-bottom: 10px;
}


.news__header{
  font-size: 49px;
  margin: 0;
  margin-bottom: 58px;
}
.news__item{
  display: flex;
  margin: 27px auto;
  padding-bottom: 26px;
  border-bottom: 2px solid #f4f4f4;
}
.news__item:last-child{
  border-bottom: none;
}

.news__img{
  padding-top: 6px;
  display: inline-block;
  width: 160px;
 height: 166px;
 border-radius: 50%;
 margin-right: 18px;

}

.news__info{
  flex: 1;
   height: 170px;
  padding-top:0px;
}

.news__info time{
  font-size: 14px;
  color: #a3a2a2;
  margin: 0;
  padding:0;
}

.news__info p, .news__info h5 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.news__info h5{
  font-size: 18px;
  margin-bottom: 12px;
}

.news__info p{
  margin-bottom: 30px;
}

.pagination{
  text-align: center;
  font-size:14px;
  margin-bottom: 60px;
}

.pagination__display{
  display: inline-block;
  vertical-align: middle;
  margin-right: 24px;
  color: #8e8d8d;
}

.pagination__btn{
  display: inline-block;
  text-decoration: none;
  color: #8e8d8d;
  vertical-align: middle;
}

.pagination__btn--prev {
  margin-right: 9px;
}

.pagination__btn--next {
  margin-right: 9px;
}


.pagination__item{
  display: inline-block;
  vertical-align: middle;
}
.pagination__list{
  display: inline-block;
  vertical-align: middle;
}

.pagination__link{
  text-decoration: none;
  width:25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  color: black;
  transition: .3s;
}

.pagination__link:hover{
  background-color: #5972b1;
  color: white;
  border-radius: 3px;
}

.pagination__btn--active.pagination__link{
  background-color: #5972b1;
  color: white;
  border-radius: 3px; 
}



.footer{
  background-color: #5972b1;
  color: #fff;
} 
.container__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:20px;
  padding-bottom: 15px;

}
.footer__info{
  flex:1;
}
.footer__logo{
  flex:1;
}
.socials{
  font-size: 14px;
  font-weight: bold;
  justify-content: end;
}
.socials__list{
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
}

.socials__item{
  width:20px;
  height: 20px;
  border-radius: 50%;
  opacity: .7;
}

.socials__item:nth-child(1){
  background: white url(./img/vk.png) center center no-repeat;
  margin-right: 8px;
}

.socials__item:nth-child(2){
  background: white url(./img/fb.png) center center no-repeat;
  margin-right: 8px;
}

.socials__item:nth-child(3){
  background: white url(./img/twitter.png) center center no-repeat;
  margin-right: 8px;
}

.socials__item:nth-child(4){
  background: white url(./img/mail.png) center center no-repeat;
  margin-right: 8px;

}

.socials__item:hover{
  opacity: 1;
}