.footer{
  background-color: #5972b1;
  color: #fff;
  padding-top:20px;
  padding-bottom: 15px;
  flex:0 0 auto;
} 
.container__footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__info{
  flex:1;
}
.footer__logo{
  flex:1;
}
