.sidebar {
  width: 17%;
}

.nav__list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.nav__item {
  display: flex;
}

.nav__link {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #5973b1;
  letter-spacing: 2px;
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 17%;

}

.nav__link::before {
  content: "";
  width: 24px;
  height: 20px;
  display: block;
  margin-right: 12px;

}

.nav__item--icon--main .nav__link::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -41px -10px;
}

.nav__item--icon--main .nav__link:hover::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -78px -10px;
}


.nav__item--icon--feed .nav__link::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -157px -10px;
}

.nav__item--icon--feed .nav__link:hover::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -117px -10px;
}


.nav__item--icon--team .nav__link::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -242px -8px;
}

.nav__item--icon--team .nav__link:hover::before {
  background: url('./../../img/icon/menu/sprites-menu.png') -199px -8px;
}

.nav__item--active.nav__item--icon--main .nav__link:before {
  background: url('./../../img/icon/menu/sprites-menu.png') -78px -10px;
}

.nav__item--active.nav__item--icon--feed .nav__link:before {
  background: url('./../../img/icon/menu/sprites-menu.png') -117px -10px;
}

.nav__item--active.nav__item--icon--team .nav__link:before {
  background: url('./../../img/icon/menu/sprites-menu.png') -199px -8px;
}

.nav__item--active .nav__link {
  color: #262424;
}

.nav__link:hover {
  color: #262424;
}