.pagination {
  font-size: 14px;
  font-weight: 300;
  color: #8e8d8d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.pagination__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__display {
  padding-right: 24px;
}

.pagination__btn {
  display: block;
  text-decoration: none;
  margin-right: 5px;
}

.pagination__item {
  display: block;
}

.pagination__link {
  text-decoration: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  display: block;
  color: black;
  transition: .3s;
  font-weight: 500;
}

.pagination__link:hover {
  color: #5972b1;
  border-radius: 3px;
}

.pagination__btn--active.pagination__link {
  background-color: #5972b1;
  color: white;
  border-radius: 3px;
}