.socials{
  font-size: 14px;
  font-weight: bold;
  
}
.socials__list{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}

.socials__item{
  width:20px;
  height: 20px;
  border-radius: 50%;
  opacity: .7;
  margin-right: 15px;
}

.socials__item:nth-last-child(){
  margin-right: 0;
}

.socials__item:nth-child(1){
  background: white url('../../img/icon/socials/vk.png') center center no-repeat;
}

.socials__item:nth-child(2){
  background: white url('../../img/icon/socials/fb.png') center center no-repeat;
}

.socials__item:nth-child(3){
  background: white url('../../img/icon/socials/twitter.png') center center no-repeat;
}

.socials__item:nth-child(4){
  background: white url('../../img/icon/socials/mail.png') center center no-repeat;
}

.socials__item:hover{
  opacity: 1;
}